*{
  font-family: 'Rancho', cursive;
  font-size: 36px;
}
body{
  background-image: url('https://www.yellowstonepark.com/.image/t_share/MTQ3MzIwMDY3OTg1NTE1OTgy/yellowstone-cutthroat-trout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #09b3da;
}
input{
  display: block;
  width: 74%;

}
h1{
  font-size: 100px;
  margin-left: 25px;
  text-shadow: 3px 3px 3px black;
  color: #ffb473;
}
table{
	width: 60%;
  border-style: double;
  margin-top: 100px;
  margin-left: 20%;
  text-align: center;
  background-color: white;
}
form{
	margin-top: 15px;
	margin-left: 20%;
}
#container{
	width: 60%;
	margin: auto;
	padding: 2%;
	background-color: rgba(255,226,201, .4);
}
#info{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#sub{
	margin: auto;
	margin-right: 29%;
	margin-bottom: 50px;
	width: 150px;
}
tr:nth-child(odd){
  background-color: #ffb473;
}
tr:nth-child(even){
  background-color: white;
}
button{
  font-size: 18px;
  margin-left: 20%;
}
button:hover{
  background-color: darkgrey;
  /* color: white; */
}

ul{
  border-style:solid;
  margin-right: 50px;
}
ul button{
    margin-bottom: 50px;
}
ul ul{
  border-style:dashed;
  margin-right: 50px;
}